
.nav a {
  color: #d8d8d8;
  font-size: 10px;
  font-weight: normal;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
}

.nav li {
  display: inline;
}

.jumbotron {
  /*this is how you write a comment, but also find a good image to put here*/
  background-color: #baddb1;
  height: 150px;
}

.jumbotron .container {
  position: relative;
  margin: center;
}

.jumbotron .container .p {
  font-size: 12px;
  font-family: "Century Gothic", sans-serif;
  color: #d5ffcb;
}

.container h2 {
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
  font-size: 16px;
  color: #f0eeee;
}

.jumbotron h1 {
  color: #fff;
  font-size: 36px;  
  font-family: "Century Gothic", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.jumbotron p {
  font-family: "Century Gothic", sans-serif;
  font-size: 14px;
  color: #fff;
}

.bottomline {
  background-color: #d5ffcb;
  position: bottom;
}

.bottomline .container .row {
  color: #baddb1;
  font-family: "Century Gothic", sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

.thumbnail1 {
    background-image: url(http://33.media.tumblr.com/4d7f8d9187416216230e4bc29e1a8def/tumblr_nb5h6vWkap1r1pjv2o3_250.jpg);
}

.thumbnail1:hover {
    background-image: url(http://33.media.tumblr.com/4d7f8d9187416216230e4bc29e1a8def/tumblr_nb5h6vWkap1r1pjv2o3_400.jpg);
    width: 352;
    height: 161;
}
